- if current_user.admin?
  %tr
    %th.label{:style => "vertical-align:middle"}
      Page Caching
      %br
      %span#desc
        %font{:color => 'green'}
          ( Default:
          - seconds = ResponseCache.defaults[:expire_time]
          - if seconds >= 86400
            - days = seconds/86400
            - if days > 1
              = "#{days} days"
            - else
              = "1 day"
          - elsif seconds >= 3600
            - hours = seconds/3600
            - if hours > 1
              = "#{hours} days"
            - else
              = "1 hour"
          - elsif seconds >= 120 then
            = "#{seconds/60} minutes"
          - else
            = "#{seconds} seconds"
          )
    %td.field{:style => "text-align: left"}
      %table{:style => "vertical-align:top;"}
        %row
          %td{:style => "text-align: left"}
            %label
            %strong
              Current Setting:
            %br
            = @page.cache_setting if Page.exists? @page
            &nbsp;
          %td
            &nbsp;&nbsp;&nbsp;
          %td{:style => "text-align: left"}
            %label
            %strong
              Override:
            Cache page for
            = text_field :page, :cache_expire_minutes, {:maxlength => 4}
            minutes
            %br
            %span#desc
              ( 0 =
              %font{:color => 'green'}
                Default Caching
              , -1 =
              %font{:color => 'red'}
                No Caching.
              )
            %td{:style => "text-align: left"}
              %strong
                %em
                  &mdash; or &mdash;
            %td{:style => "text-align: right"}
              %label
                Expire cache each day at
                = text_field :page, :cache_expire_time, {:maxlength => 5}
                (HH:MM)
                %br
                %span#desc
                  (
                  %font{:color => 'brown'}
                    Clear expire time field to reset default caching
                  )

  - content_for :page_css do
    :sass
      #desc
        font-size: 12px
        font-weight: bold

